<div class="outfits-carousel">
  <div class="p-3 text-center">
    <span class="outfits-carousel__header">Select you outfit for today!</span>
  </div>

  <p-menu class="menu"
          #menu
          [model]="items"
          [popup]="true">
  </p-menu>

  <div class="outfits-carousel__wrapper card d-flex">
    <div class="outfits-carousel__action-button d-flex justify-content-end">
      <p-button *ngIf="isLoggedIn$ | async"
                (onClick)="menu.toggle($event)"
                type="button"
                [styleClass]="'p-button-text p-button-danger p-button-rounded p-button-outlined'"
                icon="pi pi-ellipsis-v">
      </p-button>
    </div>

    <div *ngIf="!orderedOutfits?.length">
      <p-carousel [numVisible]="1" [value]="['empty']" [showIndicators]="false">
        <ng-template let-product pTemplate="item">
          <div class="p-5 d-flex justify-content-center h-100">
            <span>Add your first outfit at first</span>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <p-carousel *ngIf="orderedOutfits?.length"
                contentClass="carousel-content"
                [value]="orderedOutfits"
                [numVisible]="1"
                [circular]="true"
                [showIndicators]="false">

      <ng-template let-product pTemplate="item">
        <div class="py-4 d-flex flex-column h-100">
          <outfit-planner-mf-outfit-preview class="flex-grow-1"
                                            [outfit]="product">
          </outfit-planner-mf-outfit-preview>

          <div class="mt-3 d-flex flex-column align-items-center justify-content-center">
            <div class="py-3 text-center outfits-carousel__match-probability">
              <span>recommended in </span>
              <span>{{product.matchProbability || 0}}%</span>
            </div>
            <div>
              <p-button (onClick)="toggleSelection(product)"
                        type="button"
                        [styleClass]="product.wornToday ? 'outfits-carousel__worn-toggle--filled p-button-rounded mr-2' : 'outfits-carousel__worn-toggle p-button-rounded p-button-outlined mr-2'"
                        icon="pi pi-check">
              </p-button>
            </div>
          </div>

        </div>
      </ng-template>

    </p-carousel>

  </div>
</div>
