.outfits-carousel{
  //border: none;
}

@media screen and (min-width: 763px) {
  .outfits-carousel-2{
    margin: 0 50px 50px 50px;
  }

  .p-carousel-prev{
    margin-right: 0 !important;
  }

  .p-carousel-next{
    margin-left: 0 !important;
  }

}

.outfits-carousel-2{
  //margin: 0 50px 50px 50px;
  border: none;
}

.header-4{
  font-size: 24px;
  color: #64748B;;

}

.match-probability--recommended{
  color:  #64748B;
  font-size: 18px;

}

.match-probability{
  color:  #64748B;
  font-size: 18px;
}

.toggle-button{
  color:  #ff4081 !important;
}

.toggle-button-filled{
  background-color:   #ff4081 !important;
  color: white;
  border-color: #ff4081;
}

.carousel-conten{

}

.dots-button{
  overflow: visible;
  z-index: 1;
  position: absolute;
  right: 0;

}

.more-action-button{
  color:  #64748B !important;
}

.menu{
}


